---
import Layout from "../layouts/Layout.astro";
---

<script>
  const path = document.querySelector<SVGGeometryElement>("#timeline-path");

  if (path) {
    const pathLength: number = path.getTotalLength();

    path.style.strokeDasharray = pathLength + " " + pathLength;
    path.style.strokeDashoffset = pathLength.toString();

    window.addEventListener("scroll", () => {
      const scrollPercentage: number =
        (document.documentElement.scrollTop + document.body.scrollTop) /
        (document.documentElement.scrollHeight -
          document.documentElement.clientHeight);

      const drawLength = pathLength * scrollPercentage;

      path.style.strokeDashoffset = (pathLength - drawLength).toString();
    });
  }
</script>

<Layout title="About me" noPad>
  <section class="page-wrapper">
    <div class="timeline-wrapper">
      <svg
        preserveAspectRatio="xMidYMax meet"
        id="timeline-svg"
        stroke="currentColor"
        width="1196"
        height="4839"
        viewBox="0 0 1196 4839"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          id="timeline-path"
          d="M549 0V214C549 432.5 197.289 317.369 81.0407 443.71C-17.3087 550.598 15.7656 763.531 25.44 744.066C26.7916 741.347 26.7978 729.141 25.44 718.286L48.5222 703.361L234.538 586.67L258.978 598.882L248.116 640.945L295.638 894.678H299.711V902.82H276.629V894.678L211.455 891.965V901.463H187.015V891.965H192.447L227.749 655.87L244.042 661.298L283.418 886.537L207.382 882.467L237.253 659.941L229.107 645.015L184.3 668.082V676.223L176.153 683.008V730.498H170.722V681.651L162.576 678.937L45.8067 741.353L51.2378 893.322H58.0267V900.106H41.7333V893.322H22.7245V900.106H1V891.965H7.7889L21.3667 773.917L26.7978 744.066H39.0178L43.0911 886.537H17.2934L33.5867 738.639L72.9622 714.215L237.253 624.662L263.163 647.013C270.396 652.772 286.722 660.836 294.162 647.013C303.462 629.733 318.274 621.232 356.98 621.232C375.989 623.494 419.346 634.159 446.593 641.585C491.4 653.797 610.884 690.432 681.488 693.146C752.093 695.86 814.551 664.652 817.266 630.73C818.171 622.137 811.564 597.623 777.891 568.314C776.533 549.318 773.003 510.241 769.744 505.899L760.24 503.185C762.503 516.754 766.757 547.419 765.671 561.53C741.231 550.223 678.501 529.508 623.104 537.107L619.031 478.761H608.169C609.979 486.45 613.6 508.884 613.6 537.107C553.857 548.414 430.3 583.24 409.933 594.095C352.906 618.518 449.308 618.518 563.362 657.868L578.297 660.581L576.94 618.518H585.086L586.444 663.295C631.703 677.768 734.17 695.046 781.964 648.369C828.128 595.452 693.708 549.318 676.057 547.962C654.333 543.891 647.544 544.162 604.095 545.248C572.866 547.962 499.818 556.917 457.455 571.028C415.092 585.14 374.631 603.141 359.695 610.377L362.411 568.314H355.622L352.906 610.377L354.264 623.946C347.023 629.373 335.798 643.213 348.833 655.154L356.98 632.087L343.402 672.793H350.191L361.053 634.801H363.768L348.833 685.005H356.98L369.2 636.158L378.704 638.871L362.411 697.217H370.557L384.135 640.228L397.713 645.656L382.777 704.001L392.282 701.287L405.86 644.299L420.795 647.013L407.217 714.856L416.722 710.785L427.584 647.013L446.593 652.44L434.373 722.997L443.877 716.213L453.382 655.154L477.822 661.938L466.96 728.424L475.106 721.64L483.253 661.938L507.693 667.366L500.904 733.852L509.051 727.068L514.482 671.436L541.637 676.864L537.564 735.209L544.353 728.424L548.426 676.864L578.297 685.005V733.852L582.371 727.068L583.729 685.005C581.918 698.573 588.073 719.741 714.075 712.142C441.162 722.997 392.282 687.719 392.282 687.719C385.946 686.814 356.708 668.18 333.897 655.154C325.751 746.064 628.182 777.002 760.24 693.146C774.078 685.005 804.857 665.466 817.266 652.44C951.174 545.97 997.076 820.022 1020.54 820.022H1044.98L1046.34 809.167L1083 915.003V965.207H677.024C677.024 963.398 677.024 954.895 677.024 935.356C677.024 915.817 688.792 901.887 694.676 897.364C708.797 906.048 712.327 926.31 712.327 935.356H735.409C736.495 913.646 747.629 900.077 753.06 896.007C768.267 904.691 771.164 925.858 770.711 935.356H792.436C791.349 910.39 804.656 899.625 811.444 897.364C826.652 902.791 830.453 924.953 830.453 935.356H849.462C850.549 914.731 863.493 901.434 869.829 897.364C885.036 906.048 887.933 926.31 887.48 935.356H909.204C908.118 913.646 921.425 900.077 928.213 896.007C945.593 904.691 948.127 925.858 947.222 935.356H968.947C968.947 909.304 980.714 899.173 986.598 897.364C999.633 901.706 1004.7 924.501 1005.61 935.356H1027.33C1028.42 909.304 1040.46 899.173 1046.34 897.364C1055.84 900.077 1063.99 915.003 1063.99 935.356H1073.5V920.43L1046.34 864.799L1044.98 852.587L1043.62 864.799L1020.54 919.073H1013.75L990.671 864.799L987.956 852.587L985.24 864.799L962.158 919.073H955.369L929.571 864.799L928.213 855.301L926.856 864.799L901.058 919.073H896.984L871.187 864.799L869.829 855.301L868.471 864.799L842.673 920.43H838.6L814.16 864.799L812.802 853.944L810.087 864.799L785.647 919.073H780.216L755.776 864.799L754.418 853.944L751.702 864.799L725.904 919.073H721.831L696.033 864.799L694.676 856.658L693.318 864.799L670.236 920.43V965.207H660.731V920.43L700.256 811.881L702.581 820.022H859.128H1005.61H1057C1099.5 816.5 1227.5 942 1186.5 1015.5C1140.5 1097.97 657.72 1139.15 470.084 1139.75L467.759 1141.3L463.884 1139.75L462.334 1141.3L459.234 1139.75L456.135 1141.3L441.41 1121.92C441.151 1118.3 441.614 1108.77 443.735 1100.99C446.06 1092.47 438.31 1085.49 453.035 1045.96C452.26 1039.24 451.175 1024.72 453.035 1020.38L456.135 976.977C454.843 978.01 451.795 979.457 449.935 976.977C440.376 990.928 421.57 1019.45 422.81 1021.93C422.035 1025.81 418.78 1034.95 411.96 1040.53C413.252 1047.25 414.905 1063.32 411.185 1073.86C407.465 1084.41 403.952 1112.36 402.66 1125.02L394.136 1137.42L391.036 1139.75L388.711 1137.42L385.611 1139.75L383.286 1137.42L380.186 1139.75L377.861 1137.42L375.536 1139.75L371.661 1138.2V1146.72L374.761 1153.7V1161.45H468.534V1153.7L471.634 1148.27L470.084 1136.65C463.368 1130.7 450.865 1116.96 454.585 1109.52C459.234 1100.22 479.384 1044.41 478.609 1042.08C477.989 1040.22 486.617 1005.14 491.009 987.828C493.851 980.077 497.006 955.807 491.784 929.696C487.134 906.443 485.584 907.993 493.334 871.563C508.575 871.305 543.398 867.998 560.758 856.837C562.566 843.918 566.803 816.376 569.283 809.556C582.457 810.847 609.582 805.37 612.682 773.126C590.982 772.093 547.428 773.901 546.808 789.403C547.325 792.762 550.838 799.944 560.758 801.805C557.658 814.206 549.598 840.094 542.158 844.435C539.058 842.626 527.589 840.094 506.509 844.435C505.217 843.143 498.759 841.335 483.259 844.435H466.209V835.909C483.776 821.699 508.369 790.798 466.209 780.877C458.976 783.977 443.425 793.899 439.085 808.781H434.435L432.885 812.656L435.985 817.307L429.785 815.756L428.235 820.407L432.885 821.957L432.11 826.608L422.81 830.483L432.11 839.009L435.985 833.584V845.21C427.977 846.244 408.86 854.666 396.461 880.089C384.061 905.513 373.211 884.482 369.336 870.788C365.203 859.937 356.316 837.304 353.836 833.584C350.736 828.933 351.511 815.756 367.786 829.708L374.761 835.909C376.311 835.909 380.341 835.909 384.061 835.909C388.711 835.909 403.435 870.788 407.31 910.318C408.602 920.395 411.03 942.252 410.41 949.073C417.644 950.365 429.165 956.824 417.385 972.326C416.094 967.675 412.425 958.529 408.085 959.149C403.745 959.769 404.727 970.776 405.76 976.202C401.627 973.101 393.361 964.42 393.361 954.499C395.686 952.69 397.081 939.927 384.061 903.342L377.861 886.29L389.486 879.314L388.711 875.439L377.861 882.415L377.086 880.089L389.486 872.339L388.711 868.463L375.536 877.764L374.761 874.664L388.711 865.363L387.161 861.487L374.761 871.563L373.211 868.463L387.161 858.387L385.611 854.511C362.361 868.463 363.911 874.199 370.111 894.041L384.061 932.021C387.161 947.523 401.885 925.045 410.41 898.692L424.36 926.595C422.81 931.504 420.33 943.182 422.81 950.623C416.094 961.475 401.73 990.928 398.01 1021.93C392.327 1040.28 382.511 1084.25 388.711 1113.39L381.736 1127.35L369.336 1136.65C371.661 1144.91 -73 1215.5 170.722 1278.5C913.934 1470.61 194 1637 169 2110L238 2046L362 2000.5V1987L360 1984V1972C364.667 1971.67 374.2 1971.8 375 1975L374 1987L372 1988V1996.5L419 1977L420 1913L413.5 1904L416 1901L409.5 1897L437.5 1881.5L485 1913L478 1916L481 1919L476.5 1927V1955L696.5 1866C678.5 1918.5 638.2 2017.8 591 1977L83.5 2139.5L138 2148.5L122 2350L163.5 2354.5L169 2251.5L189 2250L182.5 2356.5L172 2355.5L180.5 2231.5L171 2232.5L176.5 2149.5L196 2144.5L191.5 2230L182.5 2231L187.5 2144.5L397.5 2097V2133.5L248 2164L249.5 2127.5L555 2053L557.5 2140L492 2151L489 2071.5L552.5 2057L555 2148L574.5 2221.5L486.5 2229.5L488.5 2321L579.5 2322.5L574.5 2218L329 2245.5L327 2323H301.5L300 2361.5L262 2359L264 2323H242.5L246 2252L326.5 2245.5L325 2321.5H306L309 2249L262 2252L260 2324C235.667 2327.17 186.7 2338.3 185.5 2357.5L664.5 2405L640 2023.5L142.5 2148.5L90.5 2139.5L590 1981C598.5 1987.33 620.4 1996.2 640 1981C653 1970.92 688.5 1865 698.5 1868C711 1870 730.5 1956.5 768.5 2063.5L807.5 2370L668 2405L640 1985L681 1961L679.5 1996.5L737.5 2034V1994.5L683 1959.5C682.667 1993.33 688.2 2060.2 701 2057L725 2068L737.5 2200.5L708 2194.5L701 2060.5L681 2221.5L725.5 2226.5L732 2315.5L687 2321L681 2223.5L773 2233L783.5 2338.5L767.5 2341L756.5 2229C1532 2597.5 608 2881 931.5 3314C958.5 3545 951 3659 923.5 3918H915.5C941.5 3666 946.395 3486.5 923 3317L883.5 3315V3312C877.167 3307 860.8 3300.2 846 3313V3317C834.5 3322 825.2 3326.4 818 3334C818.667 3363.33 820.5 3438.2 822.5 3503C825 3685.5 811 3722 821.5 3918H867.5H913.5C914.5 3684 899.5 3585.5 858 3315C852.333 3315.67 836.7 3320.4 819.5 3334L824 3503L846 3707L871.5 3916H925.5L915.5 3846H930C924 3815 919 3791.5 913.5 3773.5L936 3781.5L909 3702.5L942 3713.5L903 3633L945.5 3645.5L895.5 3565L947 3578.5L887 3498.5L946 3511.5L878 3435L943 3445.5L868.5 3373.5L937.5 3381L859.5 3315C863.333 3314.33 873.2 3313.4 882 3315V3316.5C885.5 3316.5 898.4 3317.3 922 3318.5L928 3370.5L867 3366.5C858 3367.83 836.4 3372.6 822 3381V3386C836 3378.5 850 3374 868 3372L928.5 3377.5L933 3434L876.5 3427C868.333 3426.67 846.3 3428.1 823.5 3436.5V3442.5C842.5 3435.5 852.5 3434 878 3433L933.5 3442L935.5 3497.5L885.5 3490C873.833 3489.67 845.4 3490.5 825 3496.5V3502C836.5 3499 865 3493.6 887 3496L936 3507.5L936.5 3561.5L894.5 3555.5C883.5 3554.17 855.5 3552.7 831.5 3557.5C829.43 3558.67 825.033 3561.9 824 3565.5V3571.5C824.833 3569.67 827.6 3565.7 832 3564.5C841.167 3563 866.7 3560.5 895.5 3562.5L936.5 3572.5L935.5 3627L902.5 3622.5L838 3622C835 3622.17 827.7 3624.6 822.5 3633V3638C823.833 3635.83 828.4 3630.8 836 3628C850.833 3627.5 885 3627 903 3629L935 3639L932.5 3700.5L908.5 3692.5C884 3689 862 3688.5 842.5 3690.5C836.833 3691.67 824.5 3695.2 820.5 3700V3706.5C824 3703.83 833.5 3698.2 843.5 3697C862.333 3696.67 901.8 3696.8 909 3700L932 3708.5L927.5 3769.5L912 3763.5C899 3762.33 868.5 3760.2 850.5 3761C842.5 3762.33 825 3765.6 819 3768V3774C825 3772 840 3768 852 3768C870.5 3767.5 891.5 3767.5 912.5 3771L927 3776.5L922 3836.5L914.5 3836L859.5 3834.5L819.5 3838L820 3845.5L861 3842L914.5 3843L921.5 3843.5C1120.33 3884.67 1278.5 3920 1044.5 3975.5C924.812 4003.89 423 4055 686.5 3754.5C700.673 3738.34 712 3718.1 672 3718.5V4839"
        ></path>
      </svg>
    </div>
  </section>
</Layout>

<style>
  .page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: var(--h-pad);
  }

  .timeline-wrapper {
    color: white;
  }

  #timeline-svg {
    height: 100%;
    width: 300px;
  }

  #timeline-path {
    stroke-width: 1.8px;
  }

  /*   @media screen and (min-width: 481px) {
  }

  @media screen and (min-width: 769px) {
    #timeline-svg {
      width: 380px;
    }
    #timeline-path {
      stroke-width: 2.2px;
    }
  }

  @media screen and (min-width: 1025px) {
    #timeline-svg {
      width: 400px;
    }
  } */
</style>
