---
import Layout from "../layouts/Layout.astro";
---

<script>
  const path = document.querySelector<SVGGeometryElement>("#timeline-path");
  const pageWrapper = document.querySelector<HTMLElement>('.page-wrapper');
  const svg = document.querySelector<SVGElement>("#timeline-svg");
  const timelineWrapper = document.querySelector<HTMLElement>('.timeline-wrapper');

  if (path && pageWrapper && svg && timelineWrapper) {
    const FIRST_SECTION_START = 0.2;
    const FIRST_SECTION_STOP = 0.3;
    
    const SECOND_SECTION_START = 0.5;
    const SECOND_SECTION_STOP = 0.65;
    
    const THIRD_SECTION_START = 0.8;
    const THIRD_SECTION_STOP = 0.9;

    const PARALLAX_MULTIPLIER_NORMAL = 0.3;
    const PARALLAX_MULTIPLIER_SLOW = 0.1;  

    const pathLength: number = path.getTotalLength();

    path.style.strokeDasharray = pathLength + " " + pathLength;
    path.style.strokeDashoffset = pathLength.toString();

    let fixedPageHeight = 0;
    const setPageWrapperHeight = () => {
      const svgHeight = svg.getBoundingClientRect().height;
      if (svgHeight > 0) {
        fixedPageHeight = svgHeight;
        pageWrapper.style.height = `${svgHeight}px`;
        document.documentElement.style.setProperty('--page-height', `${svgHeight}px`);
      }
    };

    setPageWrapperHeight();
    window.addEventListener("resize", setPageWrapperHeight);
    
    timelineWrapper.style.transform = 'translateX(-50%) translateY(0px)';

    let rafId: number | null = null;
    const updateScrollProgress = () => {
      if (rafId !== null) {
        return;
      }

      rafId = requestAnimationFrame(() => {
        const scrollTop = window.scrollY || document.documentElement.scrollTop;
        const windowHeight = window.innerHeight;
        const pageWrapperRect = pageWrapper.getBoundingClientRect();
        const pageWrapperTop = pageWrapperRect.top + scrollTop;
        
        const scrollStart = Math.max(0, pageWrapperTop - windowHeight);
        const scrollEnd = scrollStart + fixedPageHeight;
        const scrollRange = scrollEnd - scrollStart;
        
        const scrollProgress = scrollRange > 0 
          ? Math.min(Math.max((scrollTop - scrollStart) / scrollRange, 0), 1)
          : 0;

        const drawLength: number = pathLength * scrollProgress;
        path.style.strokeDashoffset = (pathLength - drawLength).toString();

        let parallaxMultiplier = PARALLAX_MULTIPLIER_NORMAL;

        if (scrollProgress >= FIRST_SECTION_START && scrollProgress < FIRST_SECTION_STOP) {
          parallaxMultiplier = PARALLAX_MULTIPLIER_SLOW;
        } else if (scrollProgress >= SECOND_SECTION_START && scrollProgress < SECOND_SECTION_STOP) {
          parallaxMultiplier = PARALLAX_MULTIPLIER_SLOW;
        } else if (scrollProgress >= THIRD_SECTION_START && scrollProgress < THIRD_SECTION_STOP) {
          parallaxMultiplier = PARALLAX_MULTIPLIER_SLOW;
        }

        const parallaxOffset = scrollTop * parallaxMultiplier;
        timelineWrapper.style.transform = `translateX(-50%) translateY(${parallaxOffset}px)`;

        rafId = null;
      });
    };

    window.addEventListener("scroll", updateScrollProgress, { passive: true });
    updateScrollProgress();
  }
</script>

<Layout title="About me" noPad noLogo>
  <section class="page-wrapper">
    <div class="timeline-wrapper">
      <svg
        preserveAspectRatio="xMidYMax meet"
        id="timeline-svg"
        stroke="currentColor"
        width="1510"
        height="5228"
        viewBox="0 0 1510 5228"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          id="timeline-path"
          d="M863 0V214C863 432.5 511.289 317.369 395.041 443.71C296.692 550.598 329.766 763.531 339.44 744.066C340.792 741.347 340.798 729.141 339.44 718.286L362.522 703.361L548.538 586.67L572.978 598.882L562.116 640.945L609.638 894.678H613.711V902.82H590.629V894.678L525.456 891.965V901.463H501.016V891.965H506.447L541.749 655.87L558.043 661.298L597.418 886.537L521.382 882.467L551.254 659.941L543.107 645.015L498.3 668.082V676.223L490.153 683.008V730.498H484.722V681.651L476.576 678.937L359.807 741.353L365.238 893.322H372.027V900.106H355.734V893.322H336.725V900.106H315V891.965H321.789L335.367 773.917L340.798 744.066H353.018L357.091 886.537H331.294L347.587 738.639L386.962 714.215L551.254 624.662L577.163 647.013C584.396 652.772 600.723 660.836 608.163 647.013C617.462 629.733 632.274 621.232 670.98 621.232C689.989 623.494 733.347 634.159 760.593 641.585C805.4 653.797 924.884 690.432 995.489 693.146C1066.09 695.86 1128.55 664.652 1131.27 630.73C1132.17 622.137 1125.56 597.623 1091.89 568.314C1090.53 549.318 1087 510.241 1083.74 505.899L1074.24 503.185C1076.5 516.754 1080.76 547.419 1079.67 561.53C1055.23 550.223 992.502 529.508 937.104 537.107L933.031 478.761H922.169C923.979 486.45 927.6 508.884 927.6 537.107C867.858 548.414 744.3 583.24 723.933 594.095C666.907 618.518 763.309 618.518 877.362 657.868L892.298 660.581L890.94 618.518H899.087L900.444 663.295C945.704 677.768 1048.17 695.046 1095.96 648.369C1142.13 595.452 1007.71 549.318 990.058 547.962C968.333 543.891 961.544 544.162 918.095 545.248C886.867 547.962 813.818 556.917 771.455 571.028C729.093 585.14 688.631 603.141 673.695 610.377L676.411 568.314H669.622L666.906 610.377L668.264 623.946C661.023 629.373 649.799 643.213 662.833 655.154L670.98 632.087L657.402 672.793H664.191L675.053 634.801H677.769L662.833 685.005H670.98L683.2 636.158L692.704 638.871L676.411 697.217H684.558L698.135 640.228L711.713 645.656L696.778 704.001L706.282 701.287L719.86 644.299L734.795 647.013L721.218 714.856L730.722 710.785L741.584 647.013L760.593 652.44L748.373 722.997L757.878 716.213L767.382 655.154L791.822 661.938L780.96 728.424L789.107 721.64L797.253 661.938L821.693 667.366L814.904 733.852L823.051 727.068L828.482 671.436L855.638 676.864L851.564 735.209L858.353 728.424L862.427 676.864L892.298 685.005V733.852L896.371 727.068L897.729 685.005C895.918 698.573 902.074 719.741 1028.08 712.142C755.162 722.997 706.282 687.719 706.282 687.719C699.946 686.814 670.708 668.18 647.898 655.154C639.751 746.064 942.181 777.002 1074.24 693.146C1088.08 685.005 1118.86 665.466 1131.27 652.44C1265.17 545.97 1311.08 820.022 1334.54 820.022H1358.98L1360.34 809.167L1397 915.003V965.207H991.025C991.025 963.398 991.025 954.895 991.025 935.356C991.025 915.817 1002.79 901.887 1008.68 897.364C1022.8 906.048 1026.33 926.31 1026.33 935.356H1049.41C1050.5 913.646 1061.63 900.077 1067.06 896.007C1082.27 904.691 1085.16 925.858 1084.71 935.356H1106.44C1105.35 910.39 1118.66 899.625 1125.44 897.364C1140.65 902.791 1144.45 924.953 1144.45 935.356H1163.46C1164.55 914.731 1177.49 901.434 1183.83 897.364C1199.04 906.048 1201.93 926.31 1201.48 935.356H1223.2C1222.12 913.646 1235.42 900.077 1242.21 896.007C1259.59 904.691 1262.13 925.858 1261.22 935.356H1282.95C1282.95 909.304 1294.71 899.173 1300.6 897.364C1313.63 901.706 1318.7 924.501 1319.61 935.356H1341.33C1342.42 909.304 1354.46 899.173 1360.34 897.364C1369.84 900.077 1377.99 915.003 1377.99 935.356H1387.5V920.43L1360.34 864.799L1358.98 852.587L1357.62 864.799L1334.54 919.073H1327.75L1304.67 864.799L1301.96 852.587L1299.24 864.799L1276.16 919.073H1269.37L1243.57 864.799L1242.21 855.301L1240.86 864.799L1215.06 919.073H1210.98L1185.19 864.799L1183.83 855.301L1182.47 864.799L1156.67 920.43H1152.6L1128.16 864.799L1126.8 853.944L1124.09 864.799L1099.65 919.073H1094.22L1069.78 864.799L1068.42 853.944L1065.7 864.799L1039.9 919.073H1035.83L1010.03 864.799L1008.68 856.658L1007.32 864.799L984.236 920.43V965.207H974.732V920.43L1014.26 811.881L1016.58 820.022H1173.13H1319.61H1371C1413.5 816.5 1541.5 942 1500.5 1015.5C1454.5 1097.97 971.72 1139.15 784.085 1139.75L781.76 1141.3L777.885 1139.75L776.335 1141.3L773.235 1139.75L770.135 1141.3L755.41 1121.92C755.152 1118.3 755.614 1108.77 757.735 1100.99C760.06 1092.47 752.31 1085.49 767.035 1045.96C766.26 1039.24 765.175 1024.72 767.035 1020.38L770.135 976.977C768.843 978.01 765.795 979.457 763.935 976.977C754.377 990.928 735.57 1019.45 736.81 1021.93C736.035 1025.81 732.78 1034.95 725.961 1040.53C727.252 1047.25 728.906 1063.32 725.186 1073.86C721.466 1084.41 717.952 1112.36 716.661 1125.02L708.136 1137.42L705.036 1139.75L702.711 1137.42L699.611 1139.75L697.286 1137.42L694.186 1139.75L691.861 1137.42L689.536 1139.75L685.661 1138.2V1146.72L688.761 1153.7V1161.45H782.535V1153.7L785.635 1148.27L784.085 1136.65C777.368 1130.7 764.865 1116.96 768.585 1109.52C773.235 1100.22 793.385 1044.41 792.61 1042.08C791.99 1040.22 800.618 1005.14 805.009 987.828C807.851 980.077 811.006 955.807 805.784 929.696C801.134 906.443 799.584 907.993 807.334 871.563C822.576 871.305 857.398 867.998 874.758 856.837C876.566 843.918 880.803 816.376 883.283 809.556C896.458 810.847 923.582 805.37 926.682 773.126C904.983 772.093 861.428 773.901 860.808 789.403C861.325 792.762 864.838 799.944 874.758 801.805C871.658 814.206 863.598 840.094 856.158 844.435C853.058 842.626 841.589 840.094 820.509 844.435C819.218 843.143 812.759 841.335 797.259 844.435H780.21V835.909C797.776 821.699 822.369 790.798 780.21 780.877C772.976 783.977 757.425 793.899 753.085 808.781H748.435L746.885 812.656L749.985 817.307L743.785 815.756L742.235 820.407L746.885 821.957L746.11 826.608L736.81 830.483L746.11 839.009L749.985 833.584V845.21C741.977 846.244 722.861 854.666 710.461 880.089C698.061 905.513 687.211 884.482 683.336 870.788C679.203 859.937 670.317 837.304 667.837 833.584C664.737 828.933 665.512 815.756 681.786 829.708L688.761 835.909C690.311 835.909 694.341 835.909 698.061 835.909C702.711 835.909 717.436 870.788 721.311 910.318C722.602 920.395 725.031 942.252 724.411 949.073C731.644 950.365 743.165 956.824 731.385 972.326C730.094 967.675 726.426 958.529 722.086 959.149C717.746 959.769 718.727 970.776 719.761 976.202C715.627 973.101 707.361 964.42 707.361 954.499C709.686 952.69 711.081 939.927 698.061 903.342L691.861 886.29L703.486 879.314L702.711 875.439L691.861 882.415L691.086 880.089L703.486 872.339L702.711 868.463L689.536 877.764L688.761 874.664L702.711 865.363L701.161 861.487L688.761 871.563L687.211 868.463L701.161 858.387L699.611 854.511C676.361 868.463 677.911 874.199 684.111 894.041L698.061 932.021C701.161 947.523 715.886 925.045 724.411 898.692L738.36 926.595C736.81 931.504 734.33 943.182 736.81 950.623C730.094 961.475 715.731 990.928 712.011 1021.93C706.328 1040.28 696.511 1084.25 702.711 1113.39L695.736 1127.35L685 1136C687.325 1144.27 241 1215.5 484.722 1278.5C1227.93 1470.61 508 1637 483 2110L552 2046L676 2000.5V1987L674 1984V1972C678.667 1971.67 688.2 1971.8 689 1975L688 1987L686 1988V1996.5L733 1977L734 1913L727.5 1904L730 1901L723.5 1897L751.5 1881.5L799 1913L792 1916L795 1919L790.5 1927V1955L1010.5 1866C992.5 1918.5 952.2 2017.8 905 1977L397.5 2139.5L452 2148.5L436 2350L477.5 2354.5L483 2251.5L503 2250L496.5 2356.5L486 2355.5L494.5 2231.5L485 2232.5L490.5 2149.5L510 2144.5L505.5 2230L496.5 2231L501.5 2144.5L711.5 2097V2133.5L562 2164L563.5 2127.5L869 2053L871.5 2140L806 2151L803 2071.5L866.5 2057L869 2148L888.5 2221.5L800.5 2229.5L802.5 2321L893.5 2322.5L888.5 2218L643 2245.5L641 2323H615.5L614 2361.5L576 2359L578 2323H556.5L560 2252L640.5 2245.5L639 2321.5H620L623 2249L576 2252L574 2324C549.667 2327.17 500.7 2338.3 499.5 2357.5L978.5 2405L954 2023.5L456.5 2148.5L404.5 2139.5L904 1981C912.5 1987.33 934.4 1996.2 954 1981C967 1970.92 1002.5 1865 1012.5 1868C1025 1870 1044.5 1956.5 1082.5 2063.5L1121.5 2370L982 2405L954 1985L995 1961L993.5 1996.5L1051.5 2034V1994.5L997 1959.5C996.667 1993.33 1002.2 2060.2 1015 2057L1039 2068L1051.5 2200.5L1022 2194.5L1015 2060.5L995 2221.5L1039.5 2226.5L1046 2315.5L1001 2321L995 2223.5L1087 2233L1097.5 2338.5L1081.5 2341L1070.5 2229C1846 2597.5 922 2881 1245.5 3314C1272.5 3545 1265 3659 1237.5 3918H1229.5C1255.5 3666 1260.39 3486.5 1237 3317L1197.5 3315V3312C1191.17 3307 1174.8 3300.2 1160 3313V3317C1148.5 3322 1139.2 3326.4 1132 3334C1132.67 3363.33 1134.5 3438.2 1136.5 3503C1139 3685.5 1125 3722 1135.5 3918H1181.5H1227.5C1228.5 3684 1213.5 3585.5 1172 3315C1166.33 3315.67 1150.7 3320.4 1133.5 3334L1138 3503L1160 3707L1185.5 3916H1239.5L1229.5 3846H1244C1238 3815 1233 3791.5 1227.5 3773.5L1250 3781.5L1223 3702.5L1256 3713.5L1217 3633L1259.5 3645.5L1209.5 3565L1261 3578.5L1201 3498.5L1260 3511.5L1192 3435L1257 3445.5L1182.5 3373.5L1251.5 3381L1173.5 3315C1177.33 3314.33 1187.2 3313.4 1196 3315V3316.5C1199.5 3316.5 1212.4 3317.3 1236 3318.5L1242 3370.5L1181 3366.5C1172 3367.83 1150.4 3372.6 1136 3381V3386C1150 3378.5 1164 3374 1182 3372L1242.5 3377.5L1247 3434L1190.5 3427C1182.33 3426.67 1160.3 3428.1 1137.5 3436.5V3442.5C1156.5 3435.5 1166.5 3434 1192 3433L1247.5 3442L1249.5 3497.5L1199.5 3490C1187.83 3489.67 1159.4 3490.5 1139 3496.5V3502C1150.5 3499 1179 3493.6 1201 3496L1250 3507.5L1250.5 3561.5L1208.5 3555.5C1197.5 3554.17 1169.5 3552.7 1145.5 3557.5C1143.43 3558.67 1139.03 3561.9 1138 3565.5V3571.5C1138.83 3569.67 1141.6 3565.7 1146 3564.5C1155.17 3563 1180.7 3560.5 1209.5 3562.5L1250.5 3572.5L1249.5 3627L1216.5 3622.5L1152 3622C1149 3622.17 1141.7 3624.6 1136.5 3633V3638C1137.83 3635.83 1142.4 3630.8 1150 3628C1164.83 3627.5 1199 3627 1217 3629L1249 3639L1246.5 3700.5L1222.5 3692.5C1198 3689 1176 3688.5 1156.5 3690.5C1150.83 3691.67 1138.5 3695.2 1134.5 3700V3706.5C1138 3703.83 1147.5 3698.2 1157.5 3697C1176.33 3696.67 1215.8 3696.8 1223 3700L1246 3708.5L1241.5 3769.5L1226 3763.5C1213 3762.33 1182.5 3760.2 1164.5 3761C1156.5 3762.33 1139 3765.6 1133 3768V3774C1139 3772 1154 3768 1166 3768C1184.5 3767.5 1205.5 3767.5 1226.5 3771L1241 3776.5L1236 3836.5L1228.5 3836L1173.5 3834.5L1133.5 3838L1134 3845.5L1175 3842L1228.5 3843L1235.5 3843.5C1434.33 3884.67 1592.5 3920 1358.5 3975.5C1238.81 4003.89 737 4055 1000.5 3754.5C1014.67 3738.34 1028 3719.1 988 3719.5C934.834 3718.33 810.1 3719.9 736.5 3735.5C578.5 3788.5 199.3 3934 70.5002 3984V4051C291.167 3946.83 736.9 3738.2 754.5 3737C779.167 3731.33 845.5 3720.6 913.5 3723L856 3728.5C849 3729.33 834.1 3731.5 830.5 3733.5H826.5V3735.5H821.5V3737H816V3738.5H811V3739.5H805V3741H800.5V3743H795V3745H789.5V3747H783.5V3750H778V3753H772.5V3757H766.5V3761H759.5V3766H753V3772H745.5V3779H736.5V3788H726V3800.5H720.5V3818.5C718.667 3819.17 714 3820.1 710 3818.5V3775.5H689V3817C687.167 3817.83 682.6 3819 679 3817L683 3623.5C683.667 3622.67 685.5 3621.5 687.5 3623.5L689 3766H711L713.5 3623.5C714.334 3622.17 716.4 3620.3 718 3623.5L720 3799.5C713.167 3800.17 701.5 3800.5 697.5 3821C696.301 3827.15 699 3840.3 687 3845.5C672 3852 677 3835.5 683 3836.5C673 3835.5 672.8 3837.9 668 3845.5C662 3855 600.5 3848.5 670 3884C685.617 3891.98 687 3929 636.5 3929C636.667 3924.5 632.5 3918.2 618.5 3917C623.334 3922.17 628.4 3927.4 622 3929C611.5 3930 589.9 3937 601.5 3961C602.834 3964 603 3969.9 593 3969.5L585.5 3520C584.834 3516.83 581.5 3510.9 573.5 3512.5L570 3845.5H524L520.5 3520C519.334 3518 515.4 3514.6 509 3517L506 3817L503.5 3962.5C505.167 3964.33 510.3 3967.3 517.5 3964.5L526.5 3959.5L525 3867.5L569 3869.5V3969.5C572 3972.17 580.7 3976.2 591.5 3971C597.834 3979.83 609.1 3984.6 529.5 3987C500.5 3987.87 451.3 3992.5 500.5 3998.5C498.834 3993.67 503.9 3984.1 517.5 3984.5C514.334 3987.33 508.9 3994.4 512.5 4000C517 4007 511.75 4049.67 452.5 4050.5C381.5 4051.5 315 4051 174 4050.5L558.5 3841L703.5 3764C722.834 3754 751.2 3739.4 762 3737L736 3742.5L716 3627L677.5 3766L668 3770L582 3527H576L245 3962.5L72.0002 4041.5V3980.5L95.0002 3971L511.5 3527H516.5L628 3771.5L640 3767L685.5 3629L713.5 3742.5L732.5 3735.5L715 3639L683.5 3752L645 3765L685.5 3639L710 3742.5L730.5 3734L715 3651.5L685.5 3751L649.5 3761.5L685.5 3651.5L708 3742.5L728.5 3732.5L715 3662L687.5 3750L656 3757.5L685.5 3663.5L706.5 3744L726.5 3731L715 3674L690.5 3749L660.5 3754.5L685.5 3674L704.5 3745L724.5 3729.5L715 3685L693 3749L665.5 3751L685.5 3685L702.5 3745L721.5 3728L715 3696.5L695.5 3748H669.5L685.5 3696.5L700 3746C709 3747 714 3753.9 662 3773.5L582 3552H576L306.5 3937L360 3912.5L576 3578.5H582L645 3746L640 3761L582 3608.5H576L402 3892.5L440 3874L576 3631.5H582L636.5 3764L630 3767L582 3662H576L490 3821L512 3813.5L576 3686.5H582L622 3773.5L612.5 3777L582 3715.5H576L531.5 3807L548 3800.5L576 3739.5H582L605 3779L593 3784L582 3767H576L564 3795L544.5 3800.5L519 3765H512L478.5 3827L456.5 3835L512 3739.5H519L556.5 3795L565.5 3788.5L519 3714H509.5L429 3845.5L404.5 3854.5L511 3689H519L569.5 3773.5V3751.5L518 3661H511L372.5 3867L334.5 3880.5L511 3635H515L570 3733V3712.5L518 3610H511L292 3897L241.5 3915.5L512 3584H516.5L613 3775.5L620.5 3773L515 3556H511L175.5 3941L100.5 3969C30.1668 3979.33 -72.4998 4024 79.5002 4120C269.5 4240 767.5 4090.5 778 4308V5227.5"
        ></path>
      </svg>
    </div>
  </section>
</Layout>

<style>
  :root {
    --page-height: auto;
  }

  .page-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: var(--page-height, var(--h-pad));
    min-height: var(--h-pad);
    overflow: hidden;
  }

  .timeline-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    will-change: transform;

    min-height: var(--h-pad);
  }

  #timeline-svg {
    height: auto;
    width: 400px;
  }

  #timeline-path {
    stroke-width: 3px;
  }

  @media screen and (min-width: 481px) {
  }

  @media screen and (min-width: 769px) {
    #timeline-svg {
      width: 960px;
    }
    #timeline-path {
      stroke-width: 4px;
    }
  }

  @media screen and (min-width: 1025px) {
    #timeline-svg {
      width: 1200px;
    }
    #timeline-path {
      stroke-width: 5px;
    }
  }
</style>
