---
import Layout from "../layouts/Layout.astro";
import SpinningLogo from "../components/SpinningLogo.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Business in the front">
  <div class="page-wrapper">
    <div class="logo-wrapper">
      <SpinningLogo id="logo" />
    </div>
    <section id="introduction">
      <h1>Hello there!</h1>
      <p>
        My name is Frans Gustavson Påsse and I'm doing Business in the front.
      </p>
      <a href="#" class="text-link">Learn more</a>
    </section>
    <Footer />
  </div>
</Layout>

<style>
  .page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    min-height: var(--h-pad);
  }

  .logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: min(220px, 35vh);
  }

  #introduction {
    display: block;
    text-align: center;
    font-size: 1.8rem;

    margin-block: auto;
  }

  #introduction > * {
    max-width: 32ch;
  }

  .text-link {
    font-size: 1.4rem;
    color: var(--secondary-clr);
    position: relative;
    text-decoration: none;
  }

  .text-link::after {
    content: "";

    position: absolute;
    z-index: -1;

    height: 45%;
    width: 100%;

    bottom: 3px;
    left: 0;

    background-color: var(--accent-clr);
    transform-origin: bottom center;
    transition: cubic-bezier(0.79, 0.1, 0.55, 1.28) 125ms;
  }

  .text-link:hover::after,
  .text-link:focus::after {
    transform: scaleY(0.2);
  }
</style>
