---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Business in the front">
  <div class="page-wrapper">
    <section id="introduction">
      <h1>Hello there!</h1>
      <p>
        My name is Frans Gustavson Påsse and I'm doing Business in the front.
      </p>
      <a href="/about-me" class="text-link">Learn more</a>
    </section>
    <Footer />
  </div>
</Layout>

<style>
  .page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    min-height: var(--h-pad);
  }

  #introduction {
    display: block;
    text-align: center;
    font-size: 1.4rem;

    margin-block: auto;
  }

  #introduction > * {
    max-width: 32ch;
  }

  .text-link {
    font-size: 1.2rem;
    color: var(--clr-secondary);
    position: relative;
    text-decoration: none;
  }

  .text-link::after {
    content: "";

    position: absolute;
    z-index: -1;

    height: 45%;
    width: 110%;

    bottom: 2px;
    left: -5%;

    background-color: var(--clr-accent);
    transform-origin: bottom center;
    transition: var(--transition-custom) 125ms;
  }

  .text-link:hover::after,
  .text-link:focus::after {
    transform: scaleY(0.2);
  }

  /* Small tablet size */
  @media screen and (min-width: 481px) {
  }

  /* Large tablet and laptop size */
  @media screen and (min-width: 769px) {
    #introduction {
      font-size: 1.8rem;
    }
    .text-link {
      font-size: 1.4rem;
    }
  }

  /* Desktop size */
  @media screen and (min-width: 1025px) {
  }
</style>
