---
import Layout from "../layouts/Layout.astro";
import SpinningLogo from "../components/SpinningLogo.astro";
import Card from "../components/Card.astro";
import { projects } from "../constants";
---

<Layout title="About me">
  <section class="page-wrapper">
    <div class="card-wrapper">
      {
        projects.map((project) => (
          <Card
            class:list="card"
            img={project.img}
            title={project.title}
            body={project.body}
            href={project.href}
          />
        ))
      }
    </div>
  </section>
</Layout>
<div class="logo-wrapper">
  <SpinningLogo id="logo" />
</div>

<style>
  .page-wrapper {
    display: flex;
    flex-direction: column;

    min-height: var(--h-pad);
  }

  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));

    gap: 1rem;
  }

  .card {
  }

  .logo-wrapper {
    position: fixed;
    right: -30px;
    bottom: -50px;
    color: rgba(255, 255, 255, 0.375);

    z-index: -1;
  }

  /* Small tablet size */
  @media screen and (min-width: 481px) {
  }

  /* Large tablet and laptop size */
  @media screen and (min-width: 769px) {
  }

  /* Desktop size */
  @media screen and (min-width: 1025px) {
    .card-wrapper {
      grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    }
  }
</style>
