<footer data-rate=".85" data-direction="vertical" class="scroll">
  <div class="socials">
    <a href="https://github.com/FransGPasse" target="_blank"
      ><ion-icon name="logo-github" id="github"></ion-icon></a
    ><a
      href="https://www.linkedin.com/in/frans-gustavson-p%C3%A5sse-8b6046201/"
      target="_blank"
      ><ion-icon name="logo-linkedin" id="linkedin"></ion-icon></a
    ><a href="https://www.instagram.com/fransgpasse/" target="_blank"
      ><ion-icon name="logo-instagram" id="instagram"></ion-icon></a
    >
    <a href="https://twitter.com/frassep123" target="_blank">
      <ion-icon name="logo-twitter" id="twitter"></ion-icon></a
    >
  </div>
  <a
    href="mailto:fransgpasse@gmail.com?subject=Let's work together?"
    id="email-link">fransgpasse@gmail.com</a
  >
</footer>
