---
interface Props {
  title: string;
  noPad?: boolean;
}

const { title, noPad } = Astro.props;

import "../styles/fonts.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./assets/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class:list={{ noPadding: noPad }}>
    <slot />
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
    margin: 0;
  }

  :root,
  :root::before,
  :root::after {
    font: inherit;

    --clr-bg: linear-gradient(
      220deg,
      rgb(255, 148, 90) 0%,
      rgb(160, 101, 255) 100%
    );
    --clr-secondary: black;
    --clr-white: white;
    --clr-white-inactive: rgba(255, 255, 255, 0.67);
    --clr-accent: darkorange;

    --font-main: "Poppins", sans-serif;
    --font-mono: "Courier", monospace;

    --padding: 12px;
    --h-pad: calc(100vh - (var(--padding) * 2));
    --h-pad: calc(100dvh - (var(--padding) * 2));

    --rounded: 5px;

    --transition-custom: cubic-bezier(0.79, 0.1, 0.55, 1.28);
  }

  body {
    scroll-behavior: smooth;
    background: var(--clr-bg);

    font-family: var(--font-main);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    padding: var(--padding);
    /* Removes scrollbar in Edge, Firefox... */
    scrollbar-width: none;

    height: auto;
  }

  /* ... and Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
  }

  ::selection {
    color: var(--clr-accent);
    background: aquamarine;
  }

  /* Helper classes */
  .noPadding {
    padding: 0;
  }
</style>
